@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    
  }

  nav li {
    margin-top: 10px; 
  }
  button {
    width: 100%;
   
  }
}
/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
    background-color: white;
  font-family: "Montserrat", serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: #fdf0d5;
}

button,
.btn {
  font-family: inherit;
  padding: 10px;
  color: #fdf0d5;
}

/* CSS RESET ENDS */

/* NAVIGATION BAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 0.75rem 5vw;
  box-shadow: 0 0 30px lightgray;
  background-color: #c1121f;
}

nav span {
  color: #4caf50;
}

nav p {
  font-size: 25px;
  font-weight: 600;
  cursor: default;
}

nav li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: -200%;
}

nav a {
  text-decoration: none;
  color: white;
  transition: 0.1s ease-in-out;
  font-size: 20px;
}
nav a:hover {
  color: #121212;
}








